<ng-container [ngSwitch]="action.type">
  <ng-container *ngSwitchCase="Type.ROUTER_LINK">
    <a
      class="table-action table-action__router-link"
      mat-button
      [matTooltip]="action.tooltip"
      [routerLink]="action.routerLinkFactory! | tableActionRouterLink: model">
      <i [class]="action.icon | iconClass"></i>
    </a>
  </ng-container>

  <ng-container *ngSwitchCase="Type.COMMAND">
    <button
      class="table-action table-action__command"
      mat-button
      type="button"
      [matTooltip]="action.tooltip"
      (click)="action.commandFactory!(model)">
      <i [class]="action.icon | iconClass"></i>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="Type.MORE">
    <button
      class="table-action table-action__more"
      mat-button
      type="button"
      [matMenuTriggerFor]="menu"
      [matTooltip]="action.tooltip">
      <i [class]="action.icon | iconClass"></i>
    </button>
  </ng-container>
</ng-container>

<mat-menu #menu="matMenu">
  <ng-container *ngFor="let child of action.children">
    <ng-container [ngSwitch]="child.type">
      <ng-container *ngSwitchCase="Type.COMMAND">
        <button
          mat-menu-item
          type="button"
          (click)="child.commandFactory!(model)">
          {{ child.label }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="Type.ROUTER_LINK">
        <a
          mat-menu-item
          [routerLink]="
            child.routerLinkFactory! | tableActionRouterLink: model
          ">
          {{ child.label }}
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-menu>
