<ng-container [ngSwitch]="column.type">
  <ng-container *ngSwitchCase="Type.TEXT">
    {{ model[key] }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.DATE">
    {{ $any(model[key]) | date: 'YYYY-MM-dd' }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.NUMBER">
    {{ $any(model[key]) | number }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.CURRENCY">
    {{ $any(model[key]) | number }} {{ currencyConfig?.currency }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.DATE_TIME">
    {{ $any(model[key]) | date: 'YYYY-MM-dd hh:mm:ss' }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.ORDINARY">
    {{ model[key] }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.CUSTOM">
    {{ model[key] }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.ACTION">
    <app-table-actions [actions]="actions!" [model]="model">
    </app-table-actions>
  </ng-container>

  <ng-container *ngSwitchDefault>
    Brak definicji zawartości komórki dla typu {{ column.type }}.
  </ng-container>
</ng-container>
