<ng-container [ngSwitch]="column.type">
  <ng-container *ngSwitchCase="Type.TEXT">
    {{ textValue }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.DATE">
    {{ dateValue | date: angularDateConfig.dateFormat }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.NUMBER">
    {{ numberValue | number }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.CURRENCY">
    {{ numberValue | number }} {{ currencyConfig.shortcut }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.DATE_TIME">
    {{ dateValue | date: angularDateConfig.dateTimeFormat }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.ORDINARY">
    {{ ordinary }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.BOOLEAN">
    {{ booleanValue | boolean: booleanLabels }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.CUSTOM">
    {{ model[key] }}
  </ng-container>

  <ng-container *ngSwitchCase="Type.ACTION">
    <app-table-actions [actions]="actions!" [model]="model">
    </app-table-actions>
  </ng-container>

  <ng-container *ngSwitchDefault>
    Brak definicji zawartości komórki dla typu {{ column.type }}.
  </ng-container>
</ng-container>
