<ul class="breadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
    <li
      class="breadcrumb__item"
      [ngClass]="{ 'breadcrumb__item--last': isLast }">
      <a class="breadcrumb__link" [routerLink]="breadcrumb.routerLink">
        <span>
          {{ breadcrumb.label | breadcrumbVariablesSubstitution$ | async }}
        </span>
      </a>

      <ng-container *ngIf="!isLast">
        <span class="breadcrumb__separator">
          <i [class]="Icon.CHEVRON_RIGHT | iconClass"></i>
        </span>
      </ng-container>
    </li>
  </ng-container>
</ul>
