<ul class="breadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
    <li
      class="breadcrumb__item"
      [ngClass]="{ 'breadcrumb__item--last': isLast }">
      <a class="breadcrumb__link" [routerLink]="breadcrumb.routerLink">
        <span>
          {{ breadcrumb.label | textVariablesSubstitution$ | async }}
        </span>
      </a>

      <ng-container *ngIf="!isLast">
        <span class="breadcrumb__separator">
          <app-icon [icon]="Icon.CHEVRON_RIGHT"></app-icon>
        </span>
      </ng-container>
    </li>
  </ng-container>
</ul>
