<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  {{ body }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="row row-cols-auto">
    <div class="col">
      <button
        mat-button
        [color]="reject.theme"
        [type]="reject.htmlButtonType"
        [class]="reject.style | buttonStyle"
        (click)="handleRejectClick()">
        {{ reject.label }}
      </button>
    </div>

    <div class="col">
      <button
        mat-button
        cdkFocusInitial
        [color]="accept.theme"
        [type]="accept.htmlButtonType"
        [class]="accept.style | buttonStyle"
        (click)="handleAcceptClick()">
        {{ accept.label }}
      </button>
    </div>
  </div>
</mat-dialog-actions>
