<form [formGroup]="formGroup">
  <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2">
    <ng-container *ngFor="let control of controls">
      <app-control-renderer
        [control]="control"
        [formGroupRef]="formGroup"></app-control-renderer>
    </ng-container>
  </div>

  <div class="row row-cols-auto justify-content-end gap-3">
    <ng-container
      *ngFor="let action of actions | onlyVisibleActionButtons$ | async">
      <button
        mat-button
        [type]="action?.htmlButtonType"
        [class]="action?.style | actionButtonStyle"
        [disabled]="action?.disabled$ | async"
        [color]="action?.theme"
        (click)="action.command()">
        {{ action?.label }}
      </button>
    </ng-container>
  </div>
</form>
