<div class="example-container">
  <mat-table [dataSource]="data">
    <ng-container *ngFor="let column of columns | onlyVisibleColumns">
      <ng-container
        matColumnDef="{{ column.key }}"
        [sticky]="column.stickyLeft"
        [stickyEnd]="column.stickyRight">
        <mat-header-cell *matHeaderCellDef [style.flex-basis]="column.width">
          {{ column.label }}
        </mat-header-cell>

        <mat-cell *matCellDef="let model" [style.flex-basis]="column.width">
          <app-cell-content
            [column]="column"
            [model]="model"
            [actions]="actions">
          </app-cell-content>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="
        columns | onlyVisibleColumns | columnKeys;
        sticky: true
      ">
    </mat-header-row>
    <mat-row
      *matRowDef="
        let model;
        columns: columns | onlyVisibleColumns | columnKeys
      ">
    </mat-row>
  </mat-table>
</div>
