:host {
  $_border-compensation: -1px;
  $_cell_border: 1px solid rgba(0, 0, 0, 0.12);
  $_column-padding: 0.5rem 1rem;

  .quick-table {
    overflow-x: auto;
  }

  .mat-row {
    align-items: stretch;

    &:hover {
      .mat-cell {
        background-color: #fafafa;
      }
    }
  }

  .mat-header-cell,
  .mat-cell {
    background-color: inherit;
    border-bottom: inherit;
    margin-bottom: $_border-compensation;
    padding: $_column-padding;
    flex-shrink: 0;

    &:not(.mat-table-sticky-border-elem-right) {
      border-right: $_cell_border;
    }

    &.mat-table-sticky-border-elem-right {
      border-left: $_cell_border;
      margin-left: $_border-compensation;
    }

    &.mat-table-sticky-border-elem-left {
      border-right: $_cell_border;
    }
  }

  .mat-header-cell {
    &.action-column-type {
      justify-content: center;
    }
  }

  .mat-cell {
    &.action-column-type {
      justify-content: center;
    }

    &.number-column-type {
      justify-content: flex-end;
    }

    &.currency-column-type {
      justify-content: flex-end;
    }
  }
}
