:host {
  $_border-compensation: -1px;
  $_cell_border: 1px solid rgba(0, 0, 0, 0.12);
  $_column-padding: 0.5rem 1rem;

  .quick-table {
    overflow-x: auto;
  }

  .mat-table {
    width: 100%;
  }

  .mat-row {
    &:hover {
      .mat-cell {
        background-color: #fafafa;
      }
    }
  }

  .mat-header-cell,
  .mat-cell {
    background-color: inherit;
    margin-bottom: $_border-compensation;
    padding: $_column-padding;
  }

  .mat-header-cell {
    &.action-column-type {
      text-align: center;
    }
  }

  .mat-cell {
    &.action-column-type {
      text-align: center;
    }

    &.number-column-type {
      text-align: right;
    }

    &.currency-column-type {
      text-align: right;
    }
  }
}
