<div class="quick-table">
  <mat-table [dataSource]="data">
    <ng-container *ngFor="let column of columns | onlyVisibleColumns">
      <ng-container
        matColumnDef="{{ column.key }}"
        [sticky]="column.stickyLeft"
        [stickyEnd]="column.stickyRight">
        <mat-header-cell
          *matHeaderCellDef
          [style.flex-basis]="column | columnWidth: actions"
          [ngClass]="column.cssClass">
          <app-header-cell-content [column]="column" [columns]="columns">
          </app-header-cell-content>
        </mat-header-cell>

        <mat-cell
          *matCellDef="let model"
          [style.flex-basis]="column | columnWidth: actions"
          [ngClass]="column.cssClass">
          <app-cell-content
            [customCellContentTemplate]="customCellContentTemplate"
            [column]="column"
            [model]="model"
            [actions]="actions">
          </app-cell-content>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="
        columns | onlyVisibleColumns | columnKeys;
        sticky: true
      ">
    </mat-header-row>

    <mat-row
      *matRowDef="
        let model;
        columns: columns | onlyVisibleColumns | columnKeys
      ">
    </mat-row>
  </mat-table>
</div>
