<ng-container [ngSwitch]="control.type">
  <ng-container *ngSwitchCase="QuickControlType.TEXT">
    <app-text-control-renderer
      [control]="control"
      [formGroupRef]="formGroupRef">
    </app-text-control-renderer>
  </ng-container>

  <ng-container *ngSwitchCase="QuickControlType.DATE">
    <app-date-control-renderer
      [control]="control"
      [formGroupRef]="formGroupRef">
    </app-date-control-renderer>
  </ng-container>

  <ng-container *ngSwitchCase="QuickControlType.NUMBER">
    <app-number-control-renderer
      [control]="control"
      [formGroupRef]="formGroupRef">
    </app-number-control-renderer>
  </ng-container>

  <ng-container *ngSwitchCase="QuickControlType.SELECT">
    <app-select-control-renderer
      [control]="control"
      [formGroupRef]="formGroupRef">
    </app-select-control-renderer>
  </ng-container>

  <ng-container *ngSwitchDefault>
    Brak zdefiniowanej kontrolki formularza dla typu {{ control.type }}.
  </ng-container>
</ng-container>
