@use '@angular/material' as material;
@forward 'buttons';

.light-theme {
  $primary-palette: material.define-palette(material.$blue-palette);
  $secondary-palette: material.define-palette(material.$light-green-palette);
  $light-theme: material.define-light-theme(
    (
      color: (
        primary: $primary-palette,
        accent: $secondary-palette,
      ),
    )
  );

  @include material.all-component-themes($light-theme);
}
