<div class="dashboard-header">
  <div class="me-auto">
    <ng-container *ngIf="title$ | async as title">
      <app-title [title]="title"></app-title>
    </ng-container>
  </div>

  <div class="ms-auto">
    <ng-container *ngFor="let item of menu$ | onlyVisibleMenuItems$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>

  <div class="vr mx-3"></div>

  <div class="">
    <button mat-icon-button class="round me-2" color="primary">
      <i [class]="Icon.BELL | iconClass"></i>
    </button>

    <button mat-icon-button class="round" color="primary">
      <app-user-avatar [style.display]="'block'"></app-user-avatar>
    </button>
  </div>
</div>
