$_footer-border-radius: 0;
$_footer-padding: 1rem;
$_footer-background-color: white;

:host {
  .dashboard-footer {
    background-color: $_footer-background-color;
    border-radius: $_footer-border-radius;
    padding: $_footer-padding;
    display: flex;
    flex-direction: column;
  }
}
