<form [formGroup]="formGroup">
  <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2">
    <ng-container *ngFor="let control of controls">
      <div class="col">
        <app-control-renderer
          [control]="control"
          [formGroupRef]="formGroup"></app-control-renderer>
      </div>
    </ng-container>
  </div>

  <div class="row row-cols-auto justify-content-end">
    <div class="col">
      <button
        *ngIf="cancel?.visibility$ | async"
        mat-button
        [type]="cancel?.htmlButtonType"
        [class]="cancel?.style | buttonStyle"
        [disabled]="cancel?.disabled$ | async"
        [color]="cancel?.theme"
        (click)="handleCancelClick()">
        {{ cancel?.label }}
      </button>
    </div>

    <div class="col">
      <button
        *ngIf="submit.visibility$ | async"
        mat-button
        [type]="submit.htmlButtonType"
        [class]="submit.style | buttonStyle"
        [disabled]="submitDisability$ | async"
        [color]="submit.theme"
        (click)="handleSubmitClick()">
        {{ submit.label }}
      </button>
    </div>
  </div>
</form>
