<div class="dashboard-sidebar">
  <div class="dashboard-sidebar__menu">
    <ng-container *ngFor="let item of menu$ | onlyVisibleMenuItems$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>

  <div class="my-auto"></div>

  <div class="dashboard-sidebar__menu">
    <ng-container *ngFor="let item of accountMenu$ | onlyVisibleMenuItems$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>

  <ng-container *ngIf="sidebarToggle">
    <div class="dashboard-sidebar__toggle">
      <app-dashboard-sidebar-toggle></app-dashboard-sidebar-toggle>
    </div>
  </ng-container>
</div>
