<div class="dashboard-sidebar">
  <div class="text-center">
    <img [src]="Image.FITNESS_LOGO | imageUrl" [style.width.rem]="6" />
  </div>

  <div class="dashboard-sidebar__menu">
    <ng-container *ngFor="let item of menu$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>

  <ng-container *ngIf="sidebarToggle">
    <div class="dashboard-sidebar__toggle">
      <app-dashboard-sidebar-toggle></app-dashboard-sidebar-toggle>
    </div>
  </ng-container>
</div>
