<div
  class="dashboard-sidebar"
  [class.dashboard-sidebar--collapse]="sidebarCollapse$ | async"
  [class.dashboard-sidebar--expand]="sidebarExpand$ | async">
  <div class="dashboard-sidebar__toggle align-self-end">
    <app-dashboard-sidebar-toggle></app-dashboard-sidebar-toggle>
  </div>

  <div class="dashboard-sidebar__menu my-auto">
    <ng-container *ngFor="let item of menu$ | onlyVisibleMenuItems$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>

  <div class="dashboard-sidebar__menu">
    <ng-container
      *ngFor="let item of accountMenu$ | onlyVisibleMenuItems$ | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>
</div>
