.dashboard {
  background-color: #f9fbff;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 100vh auto;
  grid-template-areas:
    'sidebar header'
    'sidebar content'
    'sidebar footer';

  & > aside {
    grid-area: sidebar;
  }

  & > header {
    grid-area: header;
    position: sticky;
    z-index: 1;
    top: 0;
  }

  & > footer {
    grid-area: footer;
  }

  & > main {
    grid-area: content;
  }

  &__sidebar {
    position: sticky;
    top: 0;
  }

  &__header {
    position: sticky;
    top: 0;
  }

  &__content {
    padding: 1rem;
  }
}
