<form [formGroup]="form">
  <mat-form-field class="w-100">
    <input
      matInput
      autocomplete="username"
      formControlName="username"
      placeholder="Nazwa użytkownika" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <input
      matInput
      type="password"
      formControlName="password"
      autocomplete="current-password"
      placeholder="Hasło użytkownika" />
  </mat-form-field>

  <div class="d-flex justify-content-end">
    <button
      mat-flat-button
      type="submit"
      color="primary"
      (click)="handleSubmitClick()"
      [disabled]="submit$ | async">
      Zaloguj
    </button>
  </div>
</form>
